@import './base.css';

body{
  display: flex;
  justify-content: center;
}
#app{
  max-width: 800px;
  margin: 0;
  padding: 0;
}
dialog::backdrop{
  background-color: var(--vt-black);
  width: 30px;
}